<HTML>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">

<HEAD>
<TITLE>SEIB Result</TITLE>
<link rel="stylesheet" type="text/css" href="../type2.css">
</HEAD>


<H1><center>
Simulation Results
<center></H1>
<P>


<Table cellpadding="10">
<TR>
   <TD>
      Tree Biomass<br>
      <IMG SRC="out_wbiomass.png" >
   </TD>
   
   <TD>
      Annual GPP<br>
      <IMG SRC="out_gpp.png" >
   </TD>
</TR>
</Table>


<Table cellpadding="10">
<TR>
   <TD>
      Annual NPP<br>
      <IMG SRC="out_npp.png" >
   </TD>
   
   <TD>
      Annual NEP<br>
      <IMG SRC="out_nep.png" >
   </TD>
</TR>
</Table>


<Table cellpadding="10">
<TR>
   <TD>
      Annual HR<br>
      <IMG SRC="out_hr.png" >
   </TD>
   
   <TD>
      Fire frequency<br>
      <IMG SRC="out_fire.png" >
   </TD>
   
</TR>
</Table>







<Table cellpadding="10">
<TR>
   <TD>
      Maximum Active Layer Depth (m)<br>
      <IMG SRC="out_ald_max.png" >
   </TD>
   
   <TD>
      JJA Available Water within 50cm depth (mm)<br>
      <IMG SRC="out_water_JJA.png" >
   </TD>
   
</TR>
</Table>


</BODY>
</HTML>
